/*------------------------------------------STYLE FRONT PAGE------------------------------*/


/*------IMPORT -------*/

@import "variables.scss";
#full_video {
    max-width: 150%;
    margin: 0;
}

.ui-accordion-content {

    height: inherit !important;
		}

.asideSlide1 h2 {
    font-size: $h1Section;
    text-transform: uppercase;
    font-family: zona_problack;
    text-align: center;
    color: white;
    background-color: $darkColor1;
    padding: 20px;
}

.asideSlide1 p {
    max-width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.asideSlide1 {
    width: 768px / 1920px *100%;
    float: right;
    z-index: 1;
    position: relative;
    background-color: white;
    height: 100vmin;
    overflow: hidden;
}

figure {
    width: 1152px / 1920px *100%;
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vmin;
}

figure h1 {
    font-size: 7vmin;
}

figure h2 {
    font-size: 3.3vmin;
}

figcaption {
    left: 0;
    top: 37%;
    right: 30px;
    margin: 0;
    padding: 0px;
    bottom: 0;
    position: absolute;
    text-align: center;
    color: white;
}

.owl-carousel owl-theme div p {
    width: 768px / 1920px *100%;
}

.owl-carousel owl-theme {
    width: 768px / 1920px *100%;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    position: relative;
    margin-top: -30px;
    display: block;
}

.containtFigure {
    height: 54.1vh;
    background-position: top center;
    width: 100%;
    display: inline-block;
    position: relative;
    background-size: cover;
    z-index: 1;
    top: 0;
    left: 0;
}

.containtFigure img {
    opacity: 0.5;
}

.containtFigure h3 {
    font-size: 1.7em;
    text-transform: uppercase;
    margin: 40px auto;
     margin-bottom: 20px ;
    width: 70%;
}

.containtFigure h4 {
    font-size: 1.1em;
    font-weight: 300;
}

.containtFigcaption p {
    max-width: 50%;
}

.btnVoirPlus{
    font-family:roboto;
    font-weight:900;
}

.btnVoirPlus a {
    color: #880000;
    border: 1px #880000 solid;
    padding: 18px 8%;
    -webkit-transition: ease-in-out 0.15s;
    transition: ease-in-out 0.15s;
    text-transform: uppercase;
}

.btnVoirPlus a:hover {
    color: white;
    background-color: $primaryColor;
}

.containtFigcaption {
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0px;
    bottom: 0;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    color:$darkColor1;
}

.containtFigcaption hr {
    height: 2px;
    margin-top: 10px;
    background-color: $darkColor1;
    display: block;
    width: 30%;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    position: relative;
    margin-top: -30px;
}


/*---------------------- secMandat ---------------------------*/

.secMandat {
    max-width: 1200px;
    margin: auto;
}

.secMandat h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: "zona_proregular";
    font-weight: 100;
}

.secMandat article {
    max-width: 43.5%;
    display: inline-block;
    min-height: 264px;
    float: left;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 50px;
}


/*---------------------- secFier ---------------------------*/

.secFier {
    text-align: center;
}

.secFier h1 {
    background-color: #880000;
    color: white;
    padding: 30px;
    font-size: 4em;
}

.contPhoto {
    padding: 1%;
}

.contInfo {
    max-width: calc(33.33% - 29px);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: #f1f1f1;
    display: inline-block;
    margin: calc(1% - 6px);
    text-align: center;
    padding-bottom: 25px;
    vertical-align: top;
}

.contInfo h4 {
    font-size: 1.6em;
    text-transform: uppercase;
}

.btnVoirPlus {
    margin-top: 35px;
    margin-bottom: 15px;
}

.btnVoirPlus a {
    color: #880000;
    border: 1px #880000 solid;
    padding: 18px 8%;
    transition: ease-in-out 0.15s;
    text-transform: uppercase;
}

.contInfo a:hover {
    color: white;
    border: 1px #880000 solid;
    background-color: #880000;
}

.contInfo img {
    max-width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1306px) {
    #full_video {
        width: 100%;
    }
    figure {
        width: 100%;
        height: auto;
    }
    figcaption {
        right: 0;
    }
    .asideSlide1 {
        float: none;
        width: 100%;
        margin-top: -7px;
        height: inherit;
    }
    .containtFigcaption p {
        max-width: inherit;
    }
    .contInfo {
        max-width: 48%;
        margin-bottom: 10px;
    }
    
}

@media (max-width: 767px) {
    figure {
        width: 100%;
        height: auto;
    }
    #full_video {
        width: 100%;
    }
    figcaption {
        right: 0;
    }
    .asideSlide1 {
        float: none;
        width: 100%;
        height: inherit;
        margin-top: -7px;
    }
    .containtFigure {
        height: 100vmin;
        margin-bottom: 50px;
    }
    .containtFigcaption p {
        max-width: inherit;
    }
    .secMandat article {
        display: block;
        float: none;
        margin: auto;
        padding-left: 40px;
        padding-right: 40px;
        max-width: 100%;
    }
    .contInfo {
        max-width: 100%;
        margin: 0px 20px 20px 20px;
    }
    #search-input-wrapper {
        left: 0%;
    }
    .secFier h1 {
        font-size: 2em;
        margin-bottom: 40px;
    }
    .secMandat {
        margin-top: 30px;
    }
    .secMandat h1 {
        font-size: 2.7em;
        margin: 0;
    }
}

@media (max-width: 440px) {
    .home {
        .secMandat {
            h1 {
                width: 50%;
                margin: 0 auto;
            }
    }
    }
    
}