/*---------------------STYLES DES LISTES---------------------------*/


/*------IMPORT -------*/

@import "variables.scss";


#contenu_realisation {
    
            display: inline-block;
        vertical-align:top;
        width: 30%;
    
    #ficheInfo {
        background-color: #f1f1f1;
        box-sizing: border-box;
        padding: 40px;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        position: relative;
        top: -50px;
        
        p{
            font-family: Roboto;
            font-weight: bold;
            color: #444444;
            font-size: 1.2em;
        }
    }
    
    .listing-post-single {
        margin: 0 5%;
        box-sizing: border-box;
        padding: 70px 0 0;
    }
    
}
    #accordion h1{
    
        font-size:1.5em;
        
    }