/*---------------------STYLES DES LISTES---------------------------*/


/*------IMPORT -------*/

@import "variables.scss";


/*OVERWRITE DU SECTION CONTENT PADDING TOP*/

body.post-type-archive-post_type_realisatio, body.post-type-archive-post_type_patrimoine{
    .section-content > *{
        padding-top:0px;
    }
}    



#section_listing {
    
    #contenuRecherche {
        width: 65%;
        margin-left: 4.6%;
        display: inline-block;
        
        #dropDownSelect {

            border-top: solid 1px #A5A5A5;

            #laFleche {
                cursor: pointer;
            }

        }
        
        .fa{
            width:100%;
        }

        h1 {
            float: left;
            text-align: left;
        }

        .fa-chevron-down:before {
            content: "\f078";
            float: right;
            position: relative;
            top: 25px;
            color: $primaryColor;
        }
        
        .listing-post-single {
            #txtContenu {
                width: 60%;
                display: inline-block;
            }
            #imgContenu {
                width: 30%;
                display: inline-block;
                float: right;
            }
        }
        
        #accordion {
            
            article {
                padding-bottom: 30px;
            }
        }
    }
    
    /*BOUTONS VOIR PLUS*/
        .batman{
            margin:35px 0;
            font-family: zona_problack;
            border: 1px $primaryColor solid;
            padding: 22px 75px/1920px * 100%;
            transition: ease-in-out 0.15s;
            display:block;
            width:315px;
            text-decoration: none;
            text-transform:uppercase;
            box-sizing:border-box;
        }
        .batman:hover{
            color: white;
            background-color:$primaryColor;
        }
    .more-link {display:none;}
    
    .blockInfo {
        display: inline-block;
        vertical-align: top;
    }
    
    #ficheInfo {
        width: 30%;
        background-color: #f1f1f1;
        box-sizing: border-box;
        padding: 40px;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        position: relative;
        top: -230px;
        h3 {
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        p {
            font-family: Roboto;
            color: #444444;
            line-height: 24px;
            font-size: 1em;
        }
    }
    
    #recherchePatrimoine {
        //margin: 0 70px;
        width: 100%;
        
        .navigation {
            .current {
                border-top: 5px solid $primaryColor;
                color: #880000;
            }
            a:hover {
                border-top: 5px solid $primaryColor;
            }
        }
        
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 auto;
        font-family: zona_problack;
        font-size: 2em;
    }
    
    .postform {
        cursor: pointer;
        margin: 40px 0;
        margin-left: 35%;
        display: block;
        border: 1px $primaryColor solid;
        font-size: 18px;
        font-family: zona_proregular;
        color: #444444;
        padding: 30px;
        background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
        -webkit-appearance: none;
        background-position-x: 92.5%;
        outline: none;
        .level-0 {
            font-family: zona_problack;
            font-size: 20px;
            text-transform: uppercase;
        }
        .level-0,
        level-1:hover {}
    }
}


/*----------------------------- Responsive -----------------------------*/
    
@media (max-width: 1620px) {
    #section_listing {
    
        #contenuRecherche {
            width: 60%;
            margin-left: 4.6%;

            .listing-post-single {
                #txtContenu {
                    width: 100%;
                    display: inline-block;
                }
                #imgContenu {
                    width: auto;
                    display: block;
                    float: none;
                    margin-bottom: 35px;
                }
            }
        }
        
        .more-link{
            box-sizing: content-box;
        }
    }
}

@media (max-width: 1250px) {
    #section_listing {
        #contenuRecherche {
            width: 100%;
            margin-left: 0;
            display: block;

            .listing-post-single {
                #txtContenu {
                    width: 100%;
                    display: inline-block;
                }
                #imgContenu {
                    width: auto;
                    display: block;
                    float: none;
                    margin-bottom: 35px;
                }
            }
        }
        
        #ficheInfo {
            width: 100%;
            margin-bottom: 35px;
            position:inherit;
            top: 0;
        }
        
        .postform {
            margin: 40px auto;
        }
    }
}

@media (max-width: 780px) {
    #section_listing {
        
    }
}





/* CORSE CSS 
#contenu_realisation {
    
        display: inline-block;
        vertical-align:top;
        width: 30%;
    
    #ficheInfo {
        background-color: #f1f1f1;
        box-sizing: border-box;
        padding: 40px;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        position: relative;
        top: -50px;
        
        p{
            font-family: Roboto;
            font-weight: bold;
            color: #444444;
            font-size: 1.2em;
        }
    }
    
    .listing-post-single {
        margin: 0 5%;
        box-sizing: border-box;
        padding: 70px 0 0;
    }
    
}
    #accordion h1{
    
        font-size:1.5em;
        
    }

*/