/*------IMPORT -------*/

@import "variables.scss";

/*ENLEVER LA SIDEBAR*/

.site:before {
    display: none;
}

/*STYLES DU BANNER*/

.banner-titre {
    padding: 178px 0px;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    background-attachment: fixed;
    
}
.banner_filter {
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/*STYLE DE LA SECTION DE CONTENU*/

.section-content > * {
    padding: 70px 40px;
}

/*STYLES DES TITRES*/

h1 {
    font-family: zona_problack;
    font-size: 75px;
    text-align: center;
    margin: 0px;
    text-transform: uppercase;
}
.banner-titre h1 {
    color: white;
    z-index: 2;
    position: relative;
}
h2 {
    font-size: 35px;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}
h3 {}

/*STYLE DES LIENS*/

a {
    color: $primaryColor;
}
a:hover {
    color: $primaryColor;
}

/*-----SECTION AVEC MANDAT ET HISTORIQUE-----*/



.articles-apropos {
    padding-top: 80px;
    padding-bottom: 80px;
}
.articles-apropos article {
    display: inline-block;
    width: 900px / 1920px * 100%;
    vertical-align: top;
}
.articles-apropos article:first-child {
    margin-right: 80px / 1920px * 100%;
}
.articles-apropos p:last-child {
    margin-bottom: 0px;
}

/*SECTION MEMBRES DU CA*/

div #section-membres-ca {
    background-color: $darkColor1;
    color: $lightColor1;
}
#section-membres-ca h2 {
    //text-align: center;
    
}

#section-membres-ca hr {
    //text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
}

#centre-CA {
    //width: 80%;
    //margin: 0 auto;
    
    h3{
        margin-top:0px;
    }
}
#section-membres-ca article {
    margin: 0 auto;
}
#section-membres-ca article:first-child {
    margin-right: 80px / 1920px * 100%;
}

/*SECTION POLITIQUE CULTURELLE*/

#section-politique-culturelle {
    width: 45%;
    //margin: 0 auto;
}

/*STYLE DES LISTES*/

.articles-apropos ul {
    margin-bottom: 0px;
    li {
        list-style-type: square;
    }
}


/*RESPONSIVE DE LA PAGE À PROPOS*/

@media (max-width: 960px) {
    
    /*SECTION MANDAT & HISTORIQUE*/
    .articles-apropos article{
        display:block;
        width:100%;
        margin-bottom:70px;
    }
    .articles-apropos article:last-child{
        margin-bottom:0px;
    }
    
    /*SECTION FONDATEURS*/
    
    #section-membres-ca{
        h2{
            text-align:left;
        }
    }
    
    #centre-CA{
        width:100%;
        text-align: left;
        
        li{
            //list-style-type: none;
        }
        
    }
    
    /*SECTION POLITIQUE CULTURELLE*/
    #section-politique-culturelle {
        width: auto;
        //margin: 0 auto;
    }
}
