/*---------------------STYLES DE LA PAGE SINGLE---------------------------*/


/*------IMPORT -------*/

@import "variables.scss";
#contenu_single {
    
    iframe {
        margin: auto;
        margin-top: 150px;   
        position: absolute;
        top: 0; left: 0;  right: 0;
    }
    
    #ficheInfo {
        background-color: #f1f1f1;
        box-sizing: border-box;
        padding: 40px;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        position: relative;
        top: -50px;
        
        p{
            font-family: Roboto;
            font-weight: bold;
            color: #444444;
            font-size: 1.2em;
        }
    }
    
    #txtInfo {
        margin: 0 5%;
        box-sizing: border-box;
        padding: 70px 0 0;
    }
    
    #galerie {
        
        padding: 70px 0 0;
        
        ul {
            margin: 0 auto;
            list-style: none;
            
            li {
                width: calc(25% - 4px);
                margin-bottom: 4px;
                display: inline-block;
                
                img {
                    width: 100%;
                }
            }
        }
        
        #boutonGalerie {
            
            a {
                color: #880000;
                font-family: zona_problack;
            }
            
            div {
                width: calc( 50% - 2px );
                display: inline-block;
                box-sizing: border-box;
                border: 1px #880000 solid;
                text-align: center;
                padding: 20px 0;
                margin: 20px 0;
                cursor: pointer;
                transition: ease-in-out 0.15s;
            }
            
            div:hover {
                a {
                    color: white;
                }
                border: 1px #880000 solid;
                background-color: #880000;
            }
            
            div:first-child {
                margin: 0 4px 0 0;
            }
            
        }
        
    }
    
    h1, h2, h3, h4, h5, h6 {
        margin: 0 auto;
        font-family: zona_problack;
        font-size: 2em;
    }

}

#contenu_single .blockInfo {
    display: inline-block;
    vertical-align:top;
    width: 30%;
}

