/*--------------------STYLES DE LA PAGE CONTACT----------------------*/

/*------IMPORT -------*/

@import "variables.scss";

div.articles-apropos{
    
    /*-----SECTION GAUCHE-----*/
    
    h1{
        line-height:1;
        margin-bottom:70px;
        text-align:left;
        
    }
    
    i{
        color:$primaryColor;
        margin-bottom:25px;
    }
    
    .contact-infos{
        display:inline-block;
        width: 31%;
        vertical-align: top;
        text-align:center;
        margin-right: 50px / 1920px * 100%;
    }
    
    .contact-infos:nth-child(2){
       
        margin-right: 0px;
    }
    
    /*----FORM-----*/
    #section-form
    
        
    {
        form{
            //float:right;
            //width: 594px / 854.531px * 100%;
            text-align:right;
            margin: 0 145px;
            
        }
        
        input, textarea{
            border-radius:0px;
            width:100%;
            min-width: 300px;
            
            //width: 594px / 854.531px * 100%;
        }
        textarea{
            max-height: 183px;
        }
        p{
            text-align:left;
        }
        
        
        .wpcf7-submit{
            background-color:white;
            border: 1px $primaryColor solid;
            color:$primaryColor;
            transition:ease-in-out 0.15s;
            height:55px;
            font-size:16px;
            font-family:zona_proregular;
            line-height:1;
            
        }
        .wpcf7-submit:hover{
            background-color:$primaryColor;
            color:white;
        }
        
    }
    
}

/*RESPONSIVE DE LA PAGE CONTACT*/

@media (max-width: 1465px) {

    div.articles-apropos{
        
        padding-bottom:0px;
        
        h1{
            text-align:center;
            width:100%;
        }  
        
        article{
            width:100%;
            
        }
        article:first-child{
            margin-bottom:70px;
        }
        
        
    }
    
}

@media (max-width: 900px) {
    
    div.articles-apropos{
        
        .contact-infos{
            display:block;
            width: 100%;
            margin-bottom:35px;
        }
        
        .contact-infos:last-child{
            
            margin-bottom:0px;
        }
        
        
        
        #section-form{
            
            form{
                margin:0 40px;
            }
            
        }    
        
    }
    
        
}

@media (max-width: 480px) {
    
    div.articles-apropos{
        
        #section-form{
            
            form{
                margin:0 20px;
            }
            
            input, textarea{
            
            min-width: 0px;
            
            }
            
        }
    }
    
}



