/*---------------------STYLES DE LA PAGE SINGLE---------------------------*/


/*------IMPORT -------*/

@import "variables.scss";
#contenu_single {
    
    .blockInfo {
        display: inline-block;
        vertical-align:top;
        width: 30%;
    }
    
    iframe {
        margin: auto;
        top: 200px;
        position: absolute;
        z-index: 1000;
        left: 0;  right: 0;
        display: none;
    }
    
    #lightboxVideo {
        position: fixed;
	    z-index: 999;
	    width: 100%;
	    height: 100%;
	    text-align: center;
	    top: 0;
	    left: 0;
	    background: rgba(0,0,0,0.8);
    }
    
    #ficheInfo {
        background-color: #f1f1f1;
        box-sizing: border-box;
        padding: 40px;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        position: relative;
        top: -65px;
        
        p{
            font-family: Roboto;
            font-weight: bold;
            color: #444444;
            font-size: 1.2em;
        }
    }
    
    #txtInfo {
        margin: 0 5%;
        box-sizing: border-box;
        padding: 70px 0;
    }
    
    #galerie {
        
        padding: 70px 0 0;
        
        ul {
            margin: 0 auto;
            list-style: none;
            margin-bottom: 20px;
            
            li {
                width: calc(25% - 4px);
                height: auto;
                margin-bottom: 4px;
                display: inline-block;
                
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        
        #boutonGalerie {
            
            margin-bottom: 20px;
            
            a {
                color: #880000;
                font-family: zona_problack;
                padding: 5px;
                outline: none;
            }
            
            div {
                width: calc( 50% - 2px );
                display: inline-block;
                box-sizing: border-box;
                border: 1px #880000 solid;
                text-align: center;
                padding: 20px 0;
                cursor: pointer;
                transition: ease-in-out 0.15s;
            }
            
            div:hover {
                a {
                    color: white;
                }
                border: 1px #880000 solid;
                background-color: #880000;
            }
            
            div:first-child {
                margin: 0 4px 0 0;
            }
            
        }  
    
    }
    
    h1, h2, h3, h4, h5, h6 {
        margin: 0 auto;
        font-family: zona_problack;
        font-size: 2em;
    }
    
}

 
/*----------------------------- Responsive -----------------------------*/
    
@media (max-width: 1350px) {
    #contenu_single {

        #galerie {

            ul {
                    li {
                        width: calc(33% - 4px);
                    }
            }
            
            #boutonGalerie {
                
                div {
                    width: 100%;
                    display: block;
                }

                div:first-child {
                    margin: 0 4px 4px 0;
                }
            }  
        }
    }
}

@media (max-width: 1250px) {
    #contenu_single {

        #galerie {
            padding: 0 0 0;
            display: block;  
            width: 100%;
            
            #boutonGalerie {
                
                text-align: center;

                div {
                    width: 40%;
                    display: inline-block;
                }

                div:first-child {
                    margin: 0 24px 4px 10px;
                }
            }  
            
            ul { 
                text-align: center;
            }
        }
        
        #ficheInfo {
            width: 40%;
        }
        
        #txtInfo {
            width: 50%;
        }
    }
}


@media (max-width: 950px) {
    #contenu_single {
        .blockInfo {
            display: block;
        }
        
        #galerie {
            width: 100%;
        }
        
        #ficheInfo {
            width: 100%;
        }

        #txtInfo {
            width: 100%;
            padding: 0;
            margin: 0;
        }
            
    }
    
}

@media (max-width: 650px) {
    #contenu_single {
        
        #galerie {
            
            ul {
                    li {
                        width: 100%;
                    }
            }

            #boutonGalerie {
                
                div {
                    min-width: 200px;
                }

            }  
            
        }
            
    }
    
}

@media (max-width: 530px) {
    
    .section-content > * {
        padding: 0 20px;
    }
    
    .banner-titre h1 {
        font-size: 2.5em;
    }
    
    #contenu_single {
        
        #galerie {
            
            #boutonGalerie {

                div {
                    width: 100%;
                    display: block;
                    
                }

                div:first-child {
                    margin: 0 0 10px 0;
                }
                
            }
            
        }
            
    }
    
}

@media (max-width: 400px) {
    
    #contenu_single {
        h1, h2, h3, h4, h5, h6 {
            font-size: 1.5em;
        }
    }
    
}

@media (max-width: 360px) {
    
    #contenu_single {
        
        #galerie {
            
            
        
            ul {
                
            
                li {
                   
                    width: 100%;
                    
                    img {
                        
                    }
                }
            
            }
        }
            
    }
    
}


