/*---------------------STYLES DE LA PAGE 404---------------------------*/


/*------IMPORT -------*/

@import "variables.scss";

.page404-header {
    max-width: 100%;
    margin-top: 50px;
    
    h1 {
        font-size: 5em;
    }
}