/*-----------VARIABLES SASS-----------*/

$primaryColor: #880000;
$lightColor1: white;
$lightColor2: #f1f1f1;
$lightColor3: #656565;
$lightColor4:#d3cac1;
$darkColor1:#0f0f0f;


/*--------- Front Page ---------------*/

$h1Section: 2.1em;